/**
 * Styles controlling the layout of Zuluru pages (e.g. positioning, borders, etc.).
 * These should not generally need to be changed from site to site.
 *
 * Almost everything here has #zuluru on the beginning.  This is because we don't
 * want styles on general elements (e.g. fieldset, td, etc.) to change the look
 * of the rest of the site, just the Zuluru parts.  But because of the cascade
 * rules, things with IDs are seen as being more specific than general classes.
 * Thus, even where we are really only defining a class that will be used internally
 * (e.g. .error-message), we need to make it more specific by putting #Zuluru on
 * the beginning of the definition.
 */

/** General Style Info **/
*
{
	margin:0;
	padding:0;
}
body
{
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 11px;
}
body.map
{
	padding: 0;
	background-image: none;
}

#zuluru
{
	text-align: left;
}
#zuluru, #zuluru table, #zuluru div
{
	font-size: 14px;
}
#zuluru h1,
#zuluru h2,
#zuluru h3,
#zuluru h4
{
	margin: 0 0 0.5em 0;
}
#zuluru p
{
	margin: 1em 0;
}
#zuluru a
{
	text-decoration: none;
}
#zuluru a img
{
	border: none;
	padding: 0;
	background: transparent;
	box-shadow: 0;
}
#zuluru ol,
#zuluru ul
{
	padding-left: 2em;
}
#zuluru .center
{
	text-align: center;
}

.clear
{
	clear: both;
	line-height: 0;
}

#zuluru div.caption
{
	float: left;
}

#zuluru div.checkout div.caption
{
	width: 100px;
	text-align: center;
}

/** Specific areas **/
#zuluru div.crumbs
{
	padding-left: 0.25em;
}
#zuluru #content,
#zuluru div.splash
{
	margin-top: 0;
	padding: 0;
}
#zuluru .sponsor
{
	margin: 1em 0;
}
#zuluru .sidebar-left
{
	width: 10em;
	text-align: left;
}
#zuluru .sidebar-left ul
{
	padding-left: 0em;
}

/** Tables **/
#zuluru table.container
{
	width: 100%;
}
#zuluru table.container tr
{
	border: 0;
}
#zuluru table.container td
{
	border: 0;
	padding: 4px 0;
	vertical-align: top;
}

#zuluru table.list, #zuluru table.multi_row_list
{
	border-collapse: collapse;
	border: 1px solid;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
}
#zuluru div.splash table,
#zuluru div.form table,
#zuluru div.fields table,
#zuluru div.events table
{
	border: 0;
}

#zuluru table.list th, #zuluru table.multi_row_list th
{
	border: 0;
	border-bottom: 2px solid;
	text-align: left;
	padding:4px;
	font-size: 100%;
}
#zuluru .events.index table.multi_row_list th,
#zuluru .leagues.index table.list th,
#zuluru .divisions.schedule table.list th
{
	border: 0;
	border-top: 2px solid;
}
#zuluru table.list th a, #zuluru table.multi_row_list th a
{
	padding: 2px 4px;
}
#zuluru table.list td, #zuluru table.multi_row_list td
{
	text-align: left;
	vertical-align: top;
	padding: 4px;
	border: 0;
}
#zuluru table.list p, #zuluru table.multi_row_list p
{
	text-indent: 0;
	margin: 0 0 1em;
}

/** Paging **/
#zuluru div.paging
{
	margin-top: 1em;
	clear:both;
}
#zuluru div.paging span.disabled
{
	display: inline;
}
#zuluru th a.asc:after
{
	content: ' ⇣';
}
#zuluru th a.desc:after
{
	content: ' ⇡';
}

/** Scaffold View **/
#zuluru dl
{
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
#zuluru dt
{
	font-weight: bold;
	padding-left: 4px;
	margin-bottom: 0;
	vertical-align: top;
}
#zuluru dd
{
	margin: -2em 0 0 15em;
	vertical-align: top;
}
#zuluru fieldset.wide_labels dd
{
	margin-left: 20em;
}
#zuluru dd p
{
	margin-top: 0;
}

/** Forms **/
#zuluru form
{
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
#zuluru fieldset
{
	border: 1px solid;
	margin-top: 0;
	margin-bottom: 1em;
	padding: 16px 20px;
}
#zuluru fieldset legend
{
	font-weight: bold;
}
#zuluru fieldset fieldset
{
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0 10px 10px;
}
#zuluru fieldset fieldset legend
{
	font-weight: normal;
}
#zuluru fieldset fieldset div
{
	clear: left;
	margin: 0 20px;
}
#zuluru form div
{
	clear: both;
	margin-bottom: 0.5em;
	padding: 0.5em;
	vertical-align: text-top;
}
#zuluru form div.input div.input
{
	margin: 0;
	padding: 0;
}
#zuluru label
{
	font-size: 90%;
	display: block;
	margin-bottom: 3px;
	width: auto;
}
#zuluru .selector
{
	clear: none;
}
#zuluru .selector div
{
	clear: none;
	float: left;
}
#zuluru .selector label
{
	display: inline;
}
#zuluru input,
#zuluru select,
#zuluru textarea
{
	clear: both;
	border: 1px solid;
	padding: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#zuluru .input p
{
	font-weight: normal;
	margin: 0;
	font-size: 80%;
}
#zuluru .input div.error-message
{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
#zuluru form .required
{
	font-weight: bold;
}
#zuluru form .required label:after
{
	content: '*';
	display: inline;
}
#zuluru select
{
	vertical-align: text-bottom;
}
#zuluru select[multiple=multiple]
{
	width: 100%;
}
#zuluru option
{
	padding: 0 3px;
}
#zuluru input[type=checkbox]
{
	clear: left;
	float: left;
	margin: 0px 6px 0px 2px;
	width: auto;
	border: 0;
}
#zuluru div.checkbox label
{
	display: inline;
}
#zuluru input[type=radio]
{
	float: left;
	margin: 0 3px 0 0;
	border: 0;
}
#zuluru div.radio
{
	margin-bottom: 0;
	padding-bottom: 0;
}
#zuluru .required div.radio
{
	font-weight: normal;
}
#zuluru .required div.radio label:after
{
	content: '';
}
#zuluru form .submit
{
	border: 0;
	clear: both;
	margin-top: 10px;
}
#zuluru input[type=submit],
#zuluru input[type=reset]
{
	display: inline;
	width: auto;
}
#zuluru input[type=image]
{
	border: 0;
}

/** Notices and Errors **/
#zuluru div.error-message
{
	clear: both;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
#zuluru p.error
{
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
#zuluru p.error em
{
	font-weight: normal;
	line-height: 140%;
}
#zuluru .notice
{
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}

/**  Actions  **/
#zuluru div.actions ul
{
	margin: 0;
	padding: 0 0 0.5em 0;
	line-height: 2em;
}
#zuluru div.actions ul li
{
	list-style: none;
	white-space: nowrap;
	float: left;
}
#zuluru input[type=submit],
#zuluru input[type=reset],
#zuluru .actions a
{
	font-weight: normal;
	font-size: 80%;
	padding: 2px 4px;
	margin: 0 3px 2px;
	border: 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	white-space: nowrap;
	min-width: 0;
}
#zuluru .actions a img
{
	margin-top: 4px;
}
#zuluru table.list th.splash_action, #zuluru table.multi_row_list th.splash_action,
#zuluru table.list td.splash_action, #zuluru table.multi_row_list td.splash_action
{
	text-align: right;
}

#kick_start div.actions ul li
{
	float: none;
	font-size: 150%;
	margin: 0 0 10px;
}
#kick_start .actions a
{
	padding: 4px 10px;
}

/** Related **/
div.related
{
	clear: both;
	display: block;
}

/** Miscellaneous **/
#zuluru .team_highlight
{
	font-weight: bold;
}

#zuluru img.thumbnail
{
	margin: 0 5px;
	border: 1px solid black;
}

#zuluru img.profile_photo
{
	float: right;
}

/* Attendance and roster change styling. */
#attendance_options, #roster_role_options, #roster_position_options
{
	cursor: pointer;
	position: absolute;
	background: white;
	padding: 0 1px;
	border: 1px solid black;
}
#attendance_options div:hover, #roster_role_options div:hover, #roster_position_options div:hover
{
	background-color: #cccccc;
}

/* Tooltip styling. By default the element to be styled is .ui-tooltip  */
.ui-tooltip
{
	text-align: left;
}

.ui-tooltip h2
{
	margin: 0;
}
.ui-tooltip dt
{
	line-height: 1.5em;
	margin-bottom: 0;
}

.ui-tooltip dd
{
	line-height: 1.5em;
	margin: -1.5em 0 0 9em;
}

.ui-tooltip img.thumbnail
{
	float: right;
	border: 0;
	margin: -4px -4px 0 0;
}

/* Help styling. */
#zuluru .help_block
{
	padding: 0 0 0 50px;
}

div.help_dialog
{
	display: none;
	text-align: left;
	font-size: 100%;
}

div.help_dialog p
{
	margin: 1em 0;
}

div.register_help
{
	border: 1px solid #555;
	padding: 0 10px 0 44px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.register_help img
{
	float: left;
	margin-left: -29px;
}

/* Live scoring styling. */
#zuluru div.score_box
{
	width: 49%;
	float: left;
}

#zuluru div.score_box table
{
	width: 100%;
	border: 1px solid;
	margin-bottom: 1em;
}

#zuluru div.score_box td
{
	text-align: center;
	width: 25%;
	padding: 2px;
}

#zuluru div.score_box td.score
{
	font-size: 100px;
	height: 125px;
}

#zuluru div.score_box td.up, #zuluru div.score_box td.down
{
	font-size: 250%;
}

/* Tournament styling. */
#zuluru div.pool_results
{
	float: left;
	margin: 0 1em 1em 0;
}

#zuluru div.bracket
{
	width: 100%;
	clear: left;
}

#zuluru .rounds1
{
	height: 150px;
}

#zuluru .rounds2
{
	height: 300px;
}

#zuluru .rounds3
{
	height: 600px;
}

#zuluru .rounds4
{
	height: 1200px;
}

#zuluru .rounds5
{
	height: 600px;
}

#zuluru .round
{
	float: left;
	width: 24.5%;
}

#zuluru .rounds4 .round
{
	width: 19.5%;
}

#zuluru .rounds5 .round
{
	width: 16.6%;
}

#zuluru .round0
{
	height: 49%;
	border-bottom: 1px solid black;
	position: relative;
}

#zuluru .round0 .winner
{
	position: absolute;
	bottom: 0;
	left: 5px;
}

#zuluru .round1
{
	height: 75%;
}

#zuluru .round1 .game
{
	height: 100%;
}

#zuluru .round2
{
	height: 87.5%;
}

#zuluru .round2 .game
{
	height: 50%;
}

#zuluru .round3
{
	height: 93.75%;
}

#zuluru .round3 .game
{
	height: 25%;
}

#zuluru .round4
{
	height: 96.875%;
}

#zuluru .round4 .game
{
	height: 12.5%;
}

#zuluru .round5
{
	height: 98.4375%;
}

#zuluru .round5 .game
{
	height: 6.25%;
}

#zuluru .round .home
{
	height: 40%;
	position: relative;
}

#zuluru .round .details
{
	height: 30%;
	position: relative;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#zuluru .round .away
{
	height: 30%;
	position: relative;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#zuluru .round .team
{
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 5px;
}

#zuluru .round .score
{
	position: absolute;
	bottom: 0;
	right: 5px;
}

#zuluru .round .details .name
{
	position: absolute;
	bottom: 0;
	left: 25px;
}

#zuluru .round .details .date
{
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 80%;
}

/* Stat sheet styling. */
#zuluru .stat_sheet table
{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

#zuluru .stat_sheet th, #zuluru .stat_sheet td
{
	border: 1px solid #ccc !important;
	background: transparent !important;
}

/* Add in some overrides of styles from jQueryUI */
.ui-front
{
	z-index: 1000;
}
