/**
 * Styles controlling the look of Zuluru pages (primarily, colours).
 * These can easily be changed from site to site to match your branding.
 *
 * Almost everything here has #zuluru on the beginning.  This is because we don't
 * want styles on general elements (e.g. fieldset, td, etc.) to change the look
 * of the rest of the site, just the Zuluru parts.  But because of the cascade
 * rules, things with IDs are seen as being more specific than general classes.
 * Thus, even where we are really only defining a class that will be used internally
 * (e.g. .error-message), we need to make it more specific by putting #Zuluru on
 * the beginning of the definition.
 */

/** General Style Info **/
#content
{
	background: #fff;
	color: #333;
}
#zuluru h1,
#zuluru h2,
#zuluru h3,
#zuluru h4,
#zuluru h5,
#zuluru h6
{
	color: #3a93d2;
}

/** Tables **/
#zuluru table.list
{
	border-color: #ccc;
}
#zuluru table.list th
{
	border-color:#555;
}
#zuluru div.index th a,
#zuluru div.index th a:visited
{
	color: #336699;
}

#zuluru table.list tr:nth-child(2n) td
{
	background: #f5f5f5;
}
#zuluru table.list .altrow td
{
	background: #f5f5f5;
}

#zuluru table td.inner-border
{
	border-top: 1px solid #ccc;
}

/** Paging **/
div.paging
{
	background:#fff;
	color: #ccc;
}
div.paging span.disabled
{
	color: #ddd;
}
div.paging span.current
{
	color: #c73e14;
}

/** Scaffold View **/
dl .altrow
{
	background: #f5f5f5;
}

/** Forms **/
#zuluru fieldset
{
	border-color: #ccc;
}
#zuluru fieldset legend
{
	background:#fff;
	color: #369;
}
#zuluru form .input
{
	color: #444;
}
#zuluru label
{
	color: #369;
}
#zuluru form .required label:after
{
	color: #e32;
}
#zuluru input,
#zuluru select,
#zuluru textarea
{
	border-color: #aaa;
}
#zuluru input[readonly],
#zuluru select[readonly],
#zuluru textarea[readonly]
{
    border-color: #ddd;
}
#zuluru input[type=submit],
#zuluru input[type=reset]
{
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
#zuluru input[type=submit]:hover,
#zuluru input[type=reset]:hover
{
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
#zuluru .error-message, #zuluru .field-usage-highlight
{
	color: red;
}
#zuluru .warning-message, #zuluru .highlight-message
{
	color: #AA0000;
}
#zuluru .error-message, #zuluru .warning-message, #zuluru .highlight-message
{
	font-weight: bold;
}
#zuluru p.error
{
	background-color: #e32;
	color: #fff;
}
#zuluru p.error em
{
	color: #000;
}
#zuluru .notice
{
	background: #ffcc00;
	color: #000;
}
#zuluru .success
{
	background: green;
	color: #fff;
}

#zuluru div.message {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px;
}
#zuluru #authMessage, #zuluru #SystemNotice, #zuluru div.info, #zuluru div.success, #zuluru div.warning, #zuluru div.error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 125%;
}
#zuluru #authMessage, #zuluru #SystemNotice, #zuluru div.info {
	border-color: #00529B;
	background-color: #BDE5F8;
	background-image: url('images/message/info.png');
}
#zuluru div.success {
	color: black;
	border-color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('images/message/success.png');
}
#zuluru div.warning {
	border-color: #9F6000;
	background-color: #FFFABF;
	background-image: url('images/message/warning.png');
}
#zuluru div.error {
	border-color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/message/error.png');
}

/**  Actions  **/
#zuluru div.crumbs,
#zuluru input[type=submit],
#zuluru input[type=reset],
#zuluru .actions a
{
	background: #d1d9ec;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5eaf5), to(#d1d9ec));
	background-image: -moz-linear-gradient(top, #e5eaf5, #d1d9ec);
	color: #333;
	border-color: #aaac62;
	text-shadow: #fff 0px 1px 0px;
}
#zuluru input[type=submit]:hover,
#zuluru input[type=reset]:hover,
#zuluru .actions a:hover
{
	background: #e6ebf6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f5fa), to(#e6ebf6));
}

/** Miscellaneous **/
#zuluru tr.tier_highlight td, #zuluru .altrow td.sub-total
{
	background-color: #afffaf !important;
}
#zuluru tr.tier_alt_highlight td, #zuluru .sub-total
{
	background-color: #cfffcf !important;
}
#zuluru tr.unpublished td, #zuluru td.unpublished, #zuluru div.unpublished
{
	background-color: #ffff00;
}
#zuluru table.list tr.unpublished:nth-child(2n) td, #zuluru table.list tr:nth-child(2n) td.unpublished
{
	background-color: #ffff44;
}
#zuluru .winning
{
	background-color: #dfd !important;
}
#zuluru .losing
{
	background-color: #fdd !important;
}
#zuluru .free
{
	color: #00cc00;
}

/* Attendance styling. */
#zuluru .attending, #zuluru .attending a:link, #zuluru .attending a:visited
{
	color: #00cc00;
}
#zuluru .absent, #zuluru .absent a:link, #zuluru .absent a:visited
{
	color: #cc0000;
}

/* Tooltip styling. By default the element to be styled is .tooltip  */
#zuluru .tooltip
{
	background: transparent url(images/tooltip/white_arrow_big_top.png);
	height: 166px;
	width: 320px;
	float: none;
	border: 0;
	max-width: inherit;
}
#zuluru .tooltip.right
{
	background: transparent url(images/tooltip/white_arrow_big_top_right.png);
}
#zuluru .tooltip.left
{
	background: transparent url(images/tooltip/white_arrow_big_top_left.png);
}
#zuluru .tooltip.bottom
{
	background: transparent url(images/tooltip/white_arrow_big_bottom.png);
}
#zuluru .tooltip.bottom.right
{
	background: transparent url(images/tooltip/white_arrow_big_bottom_right.png);
}
#zuluru .tooltip.bottom.left
{
	background: transparent url(images/tooltip/white_arrow_big_bottom_left.png);
}

#zuluru #tooltip_content
{
	font-size: 11px;
	color: #000;
}

/* Tournament bracket styling. */
#zuluru .round .winner a
{
	color: green;
}

#zuluru .round .loser a
{
	color: red;
}

/* Stat page styling. */
#zuluru .stat_games
{
}

#zuluru .stat_game
{
}

#zuluru .stat_total
{
	background-color: #fce5cd !important;
}

#zuluru .stat_per_game
{
	background-color: #cfe2f3 !important;
}

#zuluru .stat_season
{
	background-color: #d9ead3 !important;
}
