@page {
	margin: 0.25in;
}

h2
{
	text-align: center;
	color: black;
}

.stat_sheet table
{
	font-size: 18px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

.stat_sheet th, .stat_sheet td
{
	border: 1px solid #ccc;
}
